.commonButton {
  display: flex;
  border: none;
  align-items: center;
  background-color: #374151;
  padding: 0.25rem 8px;
  border-radius: 5px;
  color: white;
}

.commonButton:hover {
  background-color: #1f2937;
}

.commonButtonNormal {
  display: flex;
  border: none;
  align-items: center;
  background-color: white;
  padding: 0.15rem 6px;
  border-radius: 5px;
  color: black;
  border: 1px solid rgb(231, 229, 229);
}

.commonButtonNormal:hover {
  background-color: #f9f9f9;
}
